doctype html
html(lang='en')
  link(rel="stylesheet" href="/stylesheets/adminMenu.css")
  link(rel='stylesheet', type='text/css', href='https://js.api.here.com/v3/3.1/mapsjs-ui.css')
  include ../common/header.pug
  +head("Lodos E2")
  header

    include ../common/navbar.pug
    +navbar(user)
  sidebar
    include ../common/sidebar.pug
    +sidebar(user)
  body.bg-secondary
    input#user(type="text" hidden=true name="user" value=user)
    input#lastLocs(type="text" hidden=true name="lastLocs" value=lastLocs)
    // input#adminCount(type="text" hidden=true name="adminCount" value=adminCount)
    // input#clientCount(type="text" hidden=true name="clientCount" value=clientCount)
    // input#vehicleCount(type="text" hidden=true name="vehicleCount" value=vehicleCount)

    section#contents.container
      .welcome
        .container-fluid
          .row
            .col-md-12
              .content
                h2.text-center Admin Menüsü
      section.statistics
        .container-fluid
          .row
            .col-md-4
              .box
                i.fa.fa-car.fa-fw.bg-info
                .info
                  h3 Online Araç
                    span#onlineVehicle.ml-2 0
                  p Toplam Kayıtlı Araç:
                    span.ml-2 #{vehicleCount}
            .col-md-4
              .box
                i.fa.fa-users.fa-fw.bg-warning
                .info
                  h3 Aktif Kullanıcı
                    span#onlineClient.ml-2 0
                  p Toplam Kullanıcı:
                    span.ml-2 #{clientCount}
            .col-md-4
              .box
                i.fa.fa-eye.fa-fw.bg-secondary
                .info
                  h3 Aktif Admin
                    span#onlineAdmin.ml-2 0
                  p Toplam Admin:
                    span.ml-2 #{adminCount}
      
      section.chrt3.mt-5
        #map
      section.admins(style='height:500px;')
        .container-fluid
          .row
            .col-md-6
              .box
                h3 Aktif Adminler:
                ul#ulAdmin.pl-0                   
            .col-md-6
              .box
                h3 Aktif Kullanıcılar:
                ul#ulClient.pl-0
      


    include ../common/footer.pug
    +footer()
    
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" type="text/javascript")
    
    script(type='text/javascript', src='https://js.api.here.com/v3/3.1/mapsjs-core.js')
    script(type='text/javascript', src='https://js.api.here.com/v3/3.1/mapsjs-service.js')
    script(type='text/javascript', src='https://js.api.here.com/v3/3.1/mapsjs-ui.js')
    script(type='text/javascript', src='https://js.api.here.com/v3/3.1/mapsjs-mapevents.js')
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript")
    script(src="/javascripts/adminPage.js" type="text/javascript")

    