doctype html
html(lang='en')
  include ../common/header.pug
  +head("Lodos E2")
  header
    include ../common/navbar.pug
    +navbar(user)
  sidebar
    include ../common/sidebar.pug
    +sidebar(user)
  body.bg-secondary
    input#user(type="text" hidden=true name="user" value=user)
    .container
      //form(action='/aractakip',method='post')
      table.mt-5.table.table-dark.table-hover(border='1')
        thead
          tr
          td
            h5.text-center.font-weight-bold Takma Ad覺
          td
            h5.text-center.font-weight-bold  MAC Adresi
          td
            h5.text-center.font-weight-bold  Renk
          td
        tbody
          for vehicle in vehicles
            tr
            td #{vehicle.alias}
            td #{vehicle.macAddress}
            if vehicle.color == 0
              td K覺rm覺z覺
            else if vehicle.color == 1
              td Mavi
            else if vehicle.color == 2
              td Siyah
            else if vehicle.color == 3
              td Beyaz

            td(style='width:20px;')
              a.btn.btn-danger(id=vehicle.macAddress href="/aractakip/" + vehicle.macAddress, role='button', style='width:20px; height:20px;').rounded-circle



    include ../common/footer.pug
    +footer()
    script(src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript")
    script(src="/javascripts/aracTakipMenu.js" type="text/javascript")


    