doctype html
html(lang='en')
  include ../common/header.pug
  +head("Lodos E2")
  header
    include ../common/navbar.pug
    +navbar(user)
  sidebar
    include ../common/sidebar.pug
    +sidebar(user)
  body.bg-secondary
    input#user(type="text" hidden=true name="user" value=user)
    .container
        table.mt-5.table.table-dark.table-hover(border='1').rounded.form-control-lg
          form(action='/changeOwnership',method='post')
            thead.text-center.font-weight-bold
              tr
                td
                td Kullanıcı Adı
                td Ad
                td Soyad
                td Email
                td Araç
            tbody
              for user in users
                tr
                  if user.isAdmin
                      td
                          a.btn.btn-primary(href="#", role='button', style='width:20px; height:20px;').rounded-circle
                  else
                      td
                          a.btn.btn-info(href="#", role='button', style='width:20px; height:20px;').rounded-circle
                  td #{user.username}
                  td #{user.name}
                  td #{user.lastname}
                  td #{user.email}
                  td.text-center
                    select#macAddresses(name='macAddresses', style='width: 250px;').btn-dark.form-control-lg
                      option(value='') Araç Yok
                      for vehicle in vehicles
                        if user.macAddress == vehicle.macAddress
                          option(value=user.userId + '_' + vehicle.macAddress, selected='') #{vehicle.macAddress}
                        else
                          option(value=user.userId + '_' + vehicle.macAddress) #{vehicle.macAddress}
              tr
                td.border-right-0.border-left-0
                td.border-right-0.border-left-0
                td.border-right-0.border-left-0
                td.border-right-0.border-left-0
                td.border-right-0.border-left-0
                td.text-center.border-right-0.border-left-0
                  input(type="submit", name="Kaydet").btn-secondary.rounded


                      


    include ../common/footer.pug
    +footer()
    // script(src="/javascripts/adminPage.js" type="text/javascript")


